# IntelliJ IDEA
.idea/
*.iml

# Build output
/out/
/build/
/target/

# Gradle
.gradle/
/build/
!gradle-wrapper.jar
gradle-app.setting

# Maven
/logs/
/target/
/pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse (если кто-то вдруг откроет в Eclipse)
.classpath
.project
.settings/

# VS Code (если открывают в нём)
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak

# Environment files
.env
.env.*
